body{
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, "MS Trebuchet", Arial, Helvetica, sans-serif;	
	font-size: 100%;
	line-height: 135%;
	    background: #f0f0f0;
	color:  #424242;
	text-align: center;
}

a{
	color: #0000af;
	font-weight: bold;
	text-decoration: none;
}
a:visited{
	color: #AF3F3F;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h3{
	color: #af0000;
	background-color: #fff;
	font-size: 120%;
	margin-top: 30px;
	margin-bottom: 0;
	position: relative;
	padding: 0 0 0 25px;
	background-image: url("bullet.gif");
	background-repeat: no-repeat;
	background-position: 0 1px;
}

p{
	margin: 10px 0 5px 0;
}

.page-wrapper{
	position: relative;
	background-image: url("../background.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
	width: 740px;
	border: 1px solid #5F5F5F;
	border-bottom: 0;
	border-top: 0;
	margin: 0 auto;
	text-align: left;
}

header {
    background-color: #263348;
    padding-top: 8px;
    padding-bottom: 8px;
}

header h1{
	width: 526px;
	height: 91px;
	font-size: 100%;
    background-color: #ffffff;
	margin-bottom: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header h2{
	width: 279px;
	height: 33px;
	font-size: 90%;
    background-color: #8888ff;
	margin-top: -22px;
	margin-bottom: 25px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.navbar{
    background: #f0f0f0;
}
.checkboxes {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    color: #2d2d3c;
    border: 1px solid #e8e8e8;
    text-align: left;
    background: #f7f7f7;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 9px;
}
.checkboxes tr td {
     padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
}
.checkboxes tr:nth-child(even){
            background: #ededfb;
}
.checkbox-form {
    padding-top: 14px;
    width: 100%;
}
.checkbox-form-width {
        width: 50% !important;
}
.hover-item {
}

.hover-item:hover {
	background-color: grey !important;
	color:white;
}
.matchtxt {
	color:blue;
	font-weight:bold;
	
}
#dino-list {
      list-style-type: none !important;
}

#dino-list li em {
	  background:#ff6;
	  font-weight:bold;
	  font-style:normal;
}
.filemodal-content  {
			     background: #F0F0F0;
			padding: 0px 14px 0px 14px;
}
.filemodal-header {
		   border-bottom:0px solid;
		   padding-bottom: 0px;
 }
 .filemodal-body {
				padding: 4px;
 }
.filemodal-content button{
background: #6b6b6b !important;
    color: white !important;
 }
  .filemodal-body .container {
	  width: 100%;
  }
		 .mymodal-content {
		     background: #F0F0F0;
			padding: 0px 14px 0px 14px;
		 }
		 .mymodal-header {
		   border-bottom:0px solid;
		   padding-bottom: 0px;
		 }
		 .mymodal-body {
		 	    position: relative;
				padding: 4px;
				background: white;
				margin: 16px;
				height: 335px;
				overflow-y: scroll;
				overflow-x: hidden;
				border-radius: 5px;
				border: 1px solid #cccccc;
		 }

		 .mymodal-header .searchlist {
		    width: 100%;
			border-radius: 5px;
			padding: 9px;
		border: 1px solid #cccccc;
			
		 }
		 .warningModel {
		  border: 0px solid;
		      font-size: 24px;
		 }
		 .warningbody p{
		        font-size: 16px;
				line-height: 30px;
		 }
		 .warningcontent {
		       width: 59%;
				margin: auto;
		 }
		 .mymodal-header p {
		    text-align: left;
			font-size: 14px;
			    margin-bottom: 8px;
			color: black;	 
		 }
		 .myTable {
		 	list-style-type: none !important;
			background: white;
			border-radius: 5px;
			border: 1px solid gainsboro;
			text-align:left;
			width: initial;
		 }
		 	 .myTable tr:hover {
			  cursor: pointer;
		 }
		 .myTable tr td {
			 text-align: left;
			padding: 8px 12;
			font-size: 13px;
			color: black;
			border: 1px solid white !important;
			text-transform: uppercase;
		 }
		 .myfooter button {
		     background: #f0f0f0;
			width: 30%;
		 }
			

.navbar {
    margin: 0px;
        padding: 5px;
}
.navbar-nav p {
    font-size: 12px;
    color: #a9a7a7;
       padding: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.navbar-nav {
    padding: 5px;
}
.content {
    text-align: left;
    background: #f0f0f0;
       margin-top: 31px;
    padding: 26px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #c1c1c1;
}
.content-list {
      text-align: left;
    background: #f0f0f0;
    margin-top: 9px;
    padding: 26px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #c1c1c1;
}
.contentnav .navbar-nav > li > a {
    padding-bottom: 0px;
        padding-top: 9px;
}
  
.content .row {
    padding: 0px 22px 12px 22px;
}
.content h1{ 
      color: #9d9d9d;
}
.content p{ 
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: #7d7d7d;
}
.content .button {
    text-align: center;
}
.content .button a {
    border: 1px solid grey;
    
    padding: 10px;
    text-decoration: none;
     background: green;
    color: white;
}
.content .button a:hover {
    background: #263348;
   color: white;
}
.menu-content {
    text-align: left;
    background: #f0f0f0;
    margin-top: 53px;
    padding: 26px;
    width: 42%;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #c1c1c1;
}
.form-class {

}
.form-class button {
       width: 100%;
    border-radius: 0px;
    background: #f0f0f0;
    color: #263348; 
}
.form-class label {
    text-transform: uppercase;
}
.form-class .margin-top {
    margin-top: 51px;
}
.zero-padding {
    padding:0px;
}
.zero-padding-right {
    padding:0px;
}
.zero-padding-left {
     padding-left: 0px;
}
.padd-top-six {
    padding-top: 6px;
}
.state-table {
    padding: 24px;
    font-size: 16px;
}
.nav a {
    color: #949494;
}
.nav .dropdown-menu {
     padding: 5px;
    min-width: 0px;
    border-radius: 5px;
    background: #f0f0f0;
    border: 1px solid #c7c7c7;  
} 
.dropdown-menu > li > a {
    padding: 3px 8px;
    font-size: 13px;
    color: #717171;
    font-size: 12px;
}
.navbar-nav > li > a {
        font-size: 11px;
}
.search-page {
      padding: 0px;
}
.search-page .head {
     text-align: center;
    background: #5a5a80;
    padding: 2px;
    color: white;
}
.search-page .sear {
     text-align: center;
    background: #5a5a80;
    padding: 2px;
    color: white;
    
}
.search-page .sear button {
    color: white;
    border: 1px solid white;
    padding: 7px;
    font-size: 14px;
    text-decoration: none;
	background: none;
}
.search-page .select-multi {
     text-align: center;
    padding: 2px;
}

.search-page h2 {
        margin: 12px;
}
.select-multi h3 {
        background: #f0f0f0;
    color: grey;
    font-size: 16px;
}
.select-multi select {
    margin: 10px;
    width: 29%;
    padding: 6px;
    background: #f0f0f0;
      font-size: 13px;
    color: grey;
}
.select-multi input {
 background: #f0f0f0;   
}
.select-multi label {
   margin: 12px;  
}
.select-multi .caution p {
       color: #bf3c3c;
    text-align: center !important;
    font-weight: bold;
}
  
.search-page .select-multi {
    padding:0px;
}
.margin-top {
        margin-top: 10px;
}
table{
  border-collapse:collapse;
  width:100%;
}

.blue{
    width: 1050px;
}
.normalRow td:nth-child(1) {
	width: 36px;
}
.normalRow td:nth-child(2) {
	width: 152px;
}

.normalRow td:nth-child(3) {
	width: 138px;
}

.normalRow td:nth-child(4) {
	width: 50px;
}

.normalRow td:nth-child(5) {
	width: 40px;
}

.normalRow td:nth-child(6) {
	width: 90px;
}

.normalRow td:nth-child(7) {
	width: 43px;
}
.normalRow td:nth-child(8) {
	width: 50px;
}
.normalRow td:nth-child(9) {
	width: 46px;
}
.normalRow td:nth-child(10) {
	width: 49px;
}
.normalRow td:nth-child(11) {
	width: 46px;
}
.normalRow td:nth-child(12) {
	 width: 30px;
}
.normalRow td:nth-child(13) {
	 width: 46px;
}
.normalRow td:nth-child(14) {
	 width: 75px;
}
.normalRow td:nth-child(15) {
	  width: 89px;
}
.normalRow td:nth-child(16) {
	    width: 82px;
}
.normalRow td:nth-child(17) {
	   width: 33px;
}
.normalRow td:nth-child(18) {
	    width: 25px;
}
.myblue {
background-color:white;	
}
.myblue thead{
	 background: white;
	 color: #626263;
}
.myblue thead a{
  color: #626263;
}
.myblue tbody {
	background: white;
}

.myblue tbody tr td{
	color: #585858;
    text-align: center !important;
}
.myblue tbody tr{
	cursor: pointer;
}


.blue thead{
    background: white;
    color: #626263;

}
.blue thead a{
  color: #626263;
}
.blue tbody {
	background: white;
}
.blue thead tr td {
	padding: 4px !important;
}
.blue tbody tr td{
	color: #585858;
    text-align: center !important;
	    padding: 4px;
}
.blue tbody tr{
	cursor: pointer;
}


.content-list .container {
    padding: 0px;
    margin: auto;
	
}
.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
}

thead{
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}




.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
  width:1175px;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}

.mlable {
        margin-bottom: 0px !important;
}
.mytable {
    font-size: 10px !important;
    background:white;
}
.mytable thead {
	    color: #585858;
    text-align: center !important;
}
.mytable thead {
	  height: 40px;
  overflow-y: auto;
}

.mytable tbody tr {
    cursor: pointer;
}
.mytable tbody tr td {
    padding: 6px 0px 6px 0px;
    color: #585858;
    text-align: center !important;
}
.mytable tbody tr th {
    padding: 6px 0px 6px 0px;
    color: #585858;
    text-align: center !important;
}
.mytable tbody tr th a{
            color: #6f6f6f;
}
.active {
    background-color:#fff8aa;
}
.summary{
	background-color: #AF0000;
	color: #fff;
	margin-bottom: 60px;
	line-height: 125%;
	font-size: 110%;
}

.summary p:first-child{
	position: relative;
	padding: 29px 20px 0 20px;
	background-color: #AF0000;
	background-image: url("qsp1.gif"); 
	background-position: top left;
	background-repeat: no-repeat;
}

.summary p:last-child{
	position: relative;
	padding: 0 20px 25px 20px;
	background: #AF0000 url("qsp2.gif") no-repeat bottom left ;
}

.summary a{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

.summary a:visited{
	color: #CCCCCC;
	text-decoration: none;
}

.summary a:hover{
	text-decoration: none;
}

.preamble{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

.supporting{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

.requirements{
	position: relative; 
	margin-left: -180px; 
	width: 650px;
}

.requirements p:nth-child(6){
	font-size: 80%;
	margin: 10px;
}

footer{
	position: relative; 
	left: -180px; 
	padding: 65px 10px 30px 20px;
	background-image: url("footer.gif");
	background-repeat: no-repeat;
	background-position: 0 55px;
}

.sidebar {
	position: absolute;
	left: 12px;
	top: 320px;
	width: 178px;
	padding: 0 2px 0 0;
	font-size: 80%;
	line-height: 140%;
	background: #EFEFEF url("linea.gif") top right repeat-y;
}

.sidebar h3{
	background: #af0000;
	margin: 0;
	padding: 5px 0 5px 10px;
	text-transform: lowercase;
	color: #fff;
	font-size: 100%;
	background-image: url("header3.gif");
	background-repeat: repeat-x;
	background-position: bottom;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 20px 10px 20px 10px;
	background-image: url("izqdaul.gif");
	background-repeat: repeat-x;
}

.sidebar li{
	padding-left: 18px; 
	background: transparent url("flechita2.gif") 0 2px no-repeat;
	margin-bottom: 7px;	
	color: #818181;
}

.sidebar li a{
	color: #af0000;
}

.sidebar li a.designer-name{
	color: #818181;
}

.zen-resources{
	background: transparent url("izqda.gif") bottom no-repeat;
	padding-bottom: 20px;
}

.search {border-collapse:collapse;
		margin: 5px 5px 5px 5px;
}
.srctd {background-color: #ccccff;
    font-style: bold;
    border-left:none;
    border-right:none;
    text-align:left;
	margin: 5px 5px 5px 5px;
    }
.srctdctr {background-color: #ccccff;
    font-style: bold;
    border-left:none;
    border-right:none;
    text-align:center;
	margin: 5px 5px 5px 5px;
    }

.sheader {background-color: #8888ff;}

.searchSubmit {
	font-style: bold;
	font-size: 150%;
	background-color: #ff2222;
	color:white;
}
.wch1 {font-size:24px;}
.wch2 {font-size:18px;}

.countyRows {
    border-collapse:collapse;
		margin: 5px 5px 5px 5px;
                    font-size: 14px;
    color: #5c7590;
}
.zip-rows {
        border-collapse:collapse;
		margin: 5px 5px 5px 5px;
                    font-size: 14px;
    color: #5c7590;
}
zip-table tr {
        background: #84acda;
    color: white;
}
.zip-rows tr td{
    background-color: #f9f9f9;
    border: 1px solid #d7e6f9;
    line-height: 23px;
    padding: 6px;
}

.countyTd {
    background-color: #f9f9f9;
    border: 1px solid #d7e6f9;
    line-height: 23px;
    padding: 6px;
}

.countyTd span {
    font-style: bold;
	font-size: 90%;
    border-left:none;
    border-right:none;
    text-align:left;
	margin: 5px 5px 5px 5px;
    }
.statstable {
        width: 100%;
 }
 .zip-table table {
      width: 79%;
    text-align: left;
 }
.reservedTd {
background-color: #f3f3f3;
    border: 1px solid #d7e6f9;
    line-height: 23px;
    padding: 6px;
    color: #de3535;
    text-decoration: line-through;
    }
.tbheader {
    background: #84acda;
    color: white;
}
.tbheader th{
    color: white;
    border: 1px solid #f0f0f0;
    padding: 12px 13px;
    font-weight: 500;
    text-align: center;
}
.tbzip {
    background: #84acda;
    color: white;
    font-size: 14px;
	font-weight: bold;
    text-align: center;
}
.tbzip th{
    color: white;
    border: 1px solid #f0f0f0;
    padding: 12px 13px;
    font-weight: bold;
    text-align: center;
}

.zip-table {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    color: #2d2d3c;
    border: 1px solid #e8e8e8;
    text-align: left;
    background: #f7f7f7;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 9px;
}
    
.tbheader th a{
          color: white;
    font-weight: 500;
    
}
.align-center {
    text-align: center;
}
.mywidth {
    width: 42%;
}
.mywidth-two {
    width: 70%;
}
 .tdLeft {
	text-align:left;	
}

.fixedLogout {
	position: fixed;
	right:10px;
	top:5px;
}

.fixed_header {
	text-align: center;
}

.tch1{
	font-size: 125%;
	font-weight: bold;
}
.tch2{
	font-size: 110%;
	font-weight: bold;
}
.tch3{
	font-size: 105%;
	font-weight: bold;
}

.bad     {color: #c00000; font-style: bold;}
.best    {background-color: #fff1c6;  color: #375623; font-style: bold;}
.ok		 {background-color: #f2f2f2;  color: #375623; font-style: bold;}
.normal  {color: #000000 !important;}
.lower   {color: #00c000 !important;}
.higher  {color: #c00000 !important;}
.equal   {color: #c00000 !important;}
.soldline {
    padding: 0px;
    margin: 0px;
    background: #B5FFCC;
    font-size: 12px;
    color: #1E2B22;
}

.announce {
    margin-top: 10px;
    background: whitesmoke;
    border: 1px solid #b9b9b9;
    padding: 0px;
}
.announce .head {
background: #d8d8d8;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
	
}
.announce .anouncemain {
	height:80px;
	overflow-y: scroll;
}
.anounbox img {
	float:right;
	width: 13px;
}
.announce .anounbox {
    margin-top: 3px;
    background: #e8e8e8;
    padding: 8px;
    font-size: 11px;
    font-weight: 600;
    color: #4e4e4e;
}
.announce .anounbox span {
	color: red;
    font-size: 10px;
}   

.radio_part{
    padding: 24px 24px 0px;
}
.left_radio,.right_radio{
    float: left;
    width: 50%;
}
.radio_button{
    float: left;
    width: 40px;
    position: relative;
    text-align: left;
}
.checkbox_list{
    float: left;
    width: calc(100% - 50px);
    margin-left: 10px;
    position: relative;
    text-align: left;
}
.checkbox_top{
    position: relative;
}
.date_field{
    position: absolute;
    left: 200px;
    top: -5px;
}
.date_field .form-control{
    width: 250px;
}
.checkbox_list p{
    color: #000;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
.form_date{
    float: left;
    width: 48%;
    margin-left: 2%;
}
.form_date .form-control{
    width: 100%;
}
.chk_con,.radio_con {
    display: block;
    position: relative;
    padding-left: 32px;
    font-weight: normal;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
    line-height: 22px;
    font-weight: bold;
}
.radio_con{
    margin-top: 27px !important;
}
.chk_con input,.radio_con input{
    position: absolute;
    opacity: 0;
}
.chk_con .checkmark,.radio_con .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    position: absolute; 
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border: 1px solid #000;
    border-radius: 5px;
}
.radio_con .checkmark {
    border-radius: 50%;
}
.chk_con .checkmark:after,.radio_con .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.chk_con input:checked ~ .checkmark:after,.radio_con input:checked ~ .checkmark:after {
    display: block;
}
.chk_con .checkmark:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.radio_con .checkmark:after {
    left: 4px;
    top: 4px;
    width: 13px;
    height: 13px;
    background: #000;
    border-radius: 50%;
}
.duallist {
    margin-top: 25px;
}
.select-multi .duallist  select {
    margin: 0px;
    width: 100% !important;
}
.duallist .info-container .info{
    display: none;
}
@media(min-width: 992px) and (max-width: 1199px){
    .date_field .form-control {
        width: 190px;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .select-multi label {
        margin-left: 0px !important;
    }
    .radio_button {
        width: 25px;
    }   
    .chk_con, .radio_con {
        font-size: 15px;
    }
    .date_field {
        left: 160px;
    }
    .date_field .form-control {
        width: 100%;
    }
    .checkbox_list p {
        font-size: 15px;
    }
}
@media(min-width: 481px) and (max-width: 767px){
    .left_radio, .right_radio {
        float: none;
        width: 100%;
    }
    .date_field .form-control {
        width: 150px;
    }
}
@media(max-width: 480px){
    .left_radio, .right_radio {
        float: none;
        width: 100%;
    }
    .radio_part {
        padding: 7px 10px 0px;
    }
    .select-multi label {
        margin-left: 0px !important;
    }
    .radio_button {
        width: 25px;
    }   
    .chk_con, .radio_con {
        font-size: 15px;
    }
    .date_field {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
    }
    .date_field .form-control {
        width: 100%;
    }
    .checkbox_list p {
        font-size: 12px;
    }
}
